* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('img/fundo.png') 1000px;
}

body {
  font-family: Arial, sans-serif;
}


.navbar {
  background-color: #333;
  color: rgb(147, 180, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.logo {
  font-size: 40px;
  font-weight: bold;
  background-color: #333;
  color: rgb(195, 226, 255);
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #70a9ff;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: rgb(46, 51, 58);
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 600px) {
  .menu-toggle {
    display: contents;
  }

  .nav-links {
    display: none;
    flex-direction: column-reverse;
    width: 100%;
    background-color: #444;
    position: relative;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 20px;
    text-align: center;
  }
}


.sobre-section, .contato-section {
  padding: 4rem 2rem;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #70a9ff;
  color: #264653;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.main-footer {
  text-align: center;
  padding: 2rem;
  background-color: #111;
  color: #fff;
}

