* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
    background-color: rgba(171, 212, 250, 0.5);
}


.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.logo {
  font-size: 40px;
  font-weight: bold;
  background-color: #333;
  color: white;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #70a9ff;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 600px) {
  .menu-toggle {
    display: contents;
  }

  .nav-links {
    display: none;
    flex-direction: column-reverse;
    width: 100%;
    background-color: #444;
    position: relative;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    padding: 20px;
    text-align: center;
  }
}

.hero {
  background: url('https://via.placeholder.com/1200x500') center/cover no-repeat;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  background-color: rgba(82, 82, 82, 0.3);
  padding: 2rem;
  border-radius: 10px;
  color: #fff
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #264653;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: #cecece;
  color: #264653;
  
}

.produtos-section {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.produto-card {
  background: #cecece;
  border: 3px solid #7e7e7e;
  box-shadow: #5c718d 10px;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  transition: 0.5s ease;
}

.produto-card:hover {
  transform: translateY(-10px);
}

.produto-card img {
  width: 100%;
  border-radius: 5px;
}

.add-cart {
  background-color: #313536;
  color: #fff;
  box-shadow: #708aa8 10px;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.sobre-section, .contato-section {
  padding: 4rem 2rem;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  background-color: #70a9ff;
  color: #264653;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.main-footer {
  text-align: center;
  padding: 2rem;
  background-color: #111;
  color: #fff;
}

