* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body {
  height: 100%;
  width: 100%;  
}
body {
  margin: 0;
  font-family: Calibri, sans-serif;
  color: #333;
  text-align: center;  overflow-x: hidden;
}
.image {
  overflow: hidden;
  height: 300px;
}
.header {
  height: 500px;
}
.backgroundImage {
  overflow: hidden;
  height: 100%;
  background-image: url('img/horarios.png');
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}

#header {
  background-image: url('img/fundo-inicio.jpg');
}
#more {
  background-image: url('img/fundo-inicio3.jpg');
}
#last {
  background-image: url('img/fundo-inicio2.jpg');
}
.content {
  background: white;
}
.content article {
  padding: 10px;
  margin: 0 auto;
  max-width: 480px;
}


body {
  font-family: Arial, sans-serif;
}

footer {
  padding: 10px;
  color: white;
  background: #333;
}